<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SikkiFredConnectionString" connectionString="Data Source=localhost; Initial Catalog=Sikkim_Fred;User ID=sa; Password=Password1;"/>
	</connectionStrings>
	<appSettings>
		<add key="smtpHost" value="smtp.gmail.com"/>
		<add key="smtpPort" value="587"/>
		<add key="smtpUsername" value=""/>
		<add key="smtpPassword" value=""/>
		<add key="fromEmailId" value=""/>
		<add key="passwordEncryptionKey" value="9D44C0C38E5D48B0"/>
	</appSettings>
</configuration>