<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="File" name="fileTarget" filename=".\logs\log.txt" layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring} ${aspnet-mvc-action}"></target>

		<target xsi:type="File" name="jsonFileTarget" filename=".\logs\sikkimfredapplogs.txt">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<!--<attribute name="requestUrl" layout="${aspnet-request-url}" />
				<attribute name="action" layout="${aspnet-mvc-action}" />
				<attribute name="controller" layout="${aspnet-mvc-controller}" />-->
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="jsonFileTarget" />
	</rules>
</nlog>
